{
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended"],
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
