/* NAVBAR */

.navbar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.navbar-brand {
  justify-content: center;
}

/* FORMS */

.field {
  padding: 10px 10px 0 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  width: 50px;
}

.input-text {
  line-height: 36px;
}

.panel-block {
  justify-content: space-between;
}