@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* WINDOW */
html, body {
  -webkit-user-select: none;
  overflow-y: hidden;
}

main {
  padding: 10px;
}

/* FORMS */
.field {
  padding: 10px 10px 0 10px;
}

/* Remove default styling */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reduce width */
.notification-time {
  width: 50px;
}

.input-text {
  line-height: 36px;
}

/* Put the checkbox to the right */
.field-checkbox {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

/* Style like an input label  */
.field-checkbox span {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

/* Add spacing */
.field-checkbox:not(:last-child) {
  margin-bottom: .75rem;
}

/* Remove extra padding */
.field.has-addons {
  padding: 0 !important;
}

/* The end spacing */
.field:last-child {
  padding: 0 10px 10px 10px;
}